html,
body,
#root {
  width: 100%;
  height: 100%;
  font-size: 16px;
  background-color: #067bc2;
}
.App {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

header {
  padding: 10px;
  color: white;
  font-size: 1.5em;
}

.content-wrapper {
  width: 900px;
  height: 600px;
  background: #ecc30b;
  border-radius: 5%;
  font-size: 1.5em;
}

input {
  width: 300px;
  height: 40px;
}

button {
  margin-left: 10px;
}

button {
  width: 90px;
  height: 45px;
}
.task-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: scroll;
  height: 400px;
}

.task {
  width: 400px;
  /* height: 45px; */
  min-height: 50px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px;
  background-color: whitesmoke;
  height: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
